@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,100&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --background: #eee;
  --white: #fff;
  --light: #f6f6f9;
  --dimlight: #f6f6f9;
  --primary: #1976D2;
  --light-primary: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --light-grey: #8888b8;
  --dark: #363949;
  --black: #000;
  --danger: #D32F2F;
  --crimson: crimson;
  --cryspy:#e1386e;
--light-danger: #FECDD3;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #388E3C;
  --light-success: #BBF7D0;
  --cyan: #00dfc4;
}
@media (prefers-color-scheme: dark){
 :root{
  --background: #2F4F4F;
  --light: #17181a;
  --dimlight: #1F2937;
  --grey: #151518;
  --dark: #f8f2f2;
  --cryspy: #1f242d;
 }
}


html,body {
  scroll-behavior: smooth;
  scroll-margin-top: 20px;
}
body{
  background: var(--background);
  padding-bottom: 10px;
}
::selection {
  background: var(--cyan);
  text-shadow: 2px 2px 4px;
}

/* default css for page */
p{
  line-height: 2;
}
.fnav {
  padding: 0 50px;
  margin: auto;
}
ul{
  list-style: none;
}
/* default css finished */

.navbar {
  user-select: none;
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: 'Ubuntu', cursive;
  z-index: 100;
  transition: all 0.3s ease;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 12px 0;
  background: var(--cryspy);
  box-shadow: 0 0 7px #000;
}
body.dark-mode .navbar{
  background: var(--cryspy);
  box-shadow: 0 0 7px #fff;
}

.navbar .fnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fnav .logo{
  position: relative;
}
.fnav .logo::before{
 content: var(--name);
 font-family: cursive;
 font-style: italic;
 position: absolute;
 top: -2px;
 right: -20px;
 color: var(--dark);
 z-index: 1;
 font-size: 13px;
}
.navbar .logo a span{
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  text-shadow: 2px 2px 4px #000000;
}
.navbar .logo a span:nth-child(even){
  animation: fontColor 5s linear backwards infinite;
}
@keyframes fontColor {
  0% {
    color: var(--crimson);
  }

  25% {
    color: var(--warning);
  }

  75% {
    color: var(--primary);
  }

  100% {
    color: var(--danger);
  }
}

.navbar .logo a span {
  color: var(--warning);
}

.navbar .bar-icon {
  display: none;
}

.scroll-top {
  position: fixed;
  pointer-events: none;
  width: 30px;
  height: 50px;
  border-radius: 7px;
  opacity: 0;
  cursor: pointer;
  background: var(--warning);
  transition: all 0.3s ease;
  z-index: 100;
}

.scroll-top.active {
  pointer-events: auto;
  opacity: 1;
  bottom: 20px;
  right: 30px;
}
.scroll-top i {
  color: var(--dark);
  padding: 12px 1px 12px 7px;
  font-size: 20px;
}
.navbar .bar-icon.deactive {
  display: block;
}
.navbar #scrollLenth {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  background: var(--warning);
  visibility: hidden;
  opacity: 0;
  border-radius: 3px;
  transition: all 0.5s linear;
  text-align: center;
}
.navbar #scrollLenth.active{
  visibility: visible;
  opacity: 1;
}
.navbar-nav li {
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
}

.navbar .navbar-nav li a {
  text-shadow: 2px 2px 4px rgba(255, 255, 255,0.3);
  color: #fff;
  font: 25px;
  font-weight: 600;
  filter: opacity(0.8);
  transition:all 0.3s ease-in-out;
  animation: rightToLeft 1s linear;
  animation-delay: calc(.2s * var(--i));
}
@keyframes rightToLeft {
  from{ transform: scale(1.5);}
}

.navbar .navbar-nav li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  padding: 5px;
}
.navbar .navbar-nav:hover li{
   filter: blur(5px);
}
.navbar .navbar-nav:hover li:hover{
  filter: blur(0);
}

.egg-container {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 26px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: var(--white);
  cursor: pointer;
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
}

.scroll-reminder {
  width: 10px;
  height: 10px;
  background-color: var(--black);
  border-radius: 50%;
  animation: moveUpDown 2s infinite;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0) scale(.7);
  }
  50% {
    transform: translateY(20px) scale(1);
  }
}
section.navigation{
  padding: 60px 10px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  min-height: 100vh;
  display: none;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: .5 linear;
}
section.navigation::-webkit-scrollbar,
section.navigation .content::-webkit-scrollbar{
  display: none;
}
section.navigation.active{
  height: 100%;
  display: block;
  animation: leftToright .3s ease;
}
@keyframes leftToright {
  0% {
    transform: translateY(-90%) scale(.5);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 23px;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 2px 2px 4px var(--dark-grey);
  color: var(--dark);
  transition: 1.4s linear;
}
section .title.hide{
  opacity: 0.5;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 190px;
  height: 3px;
  background: var(--dark);
  transform: translateX(-50%);
}

section .title::after {
  content: "My Introduction";
  position: absolute;
  bottom: -9px;
  left: 50%;
  color: var(--danger);
  font-size: 20px;
  padding: 4px;
  background: var(--background);
  transform: translateX(-50%);
}
/* one change */
.column:not(.image) {
  padding: 5px 20px;
  border-radius: 12.3px;
  background: var(--dimlight);
  border: 4px solid #0000003b;
   color: var(--dark);
}

.home {
  position: relative;
  height: 100vh;
  display: flex;
  overflow: hidden;
  user-select: none;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: var(--black);
  z-index: 0;
}
.home::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: var(--dark-grey);
  z-index: 0;
}
.imgContainer {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 50%;
  z-index: 1;
  padding: 9px 11px 5px 9px;
}
.imgContainer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: Rotate 2.5s linear infinite;
}
@keyframes Rotate {
  0%{ transform: rotate(0deg);
    background-image: conic-gradient(
      #AAAAAA 20deg,
      transparent 130deg
    );
  }
  100%{ transform: rotate(-360deg);
    background-image: conic-gradient(
      #000 20deg,
      transparent 130deg
    );
  }
}
.object img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.home .content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.home-content {
  text-align: center;
}
.home .home-content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: auto 0 auto 40px;
}
.home .home-content .text-1{
  font-size: 20px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
}
.home .home-content .text-2 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 1.5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home .home-content div{
  animation: bottomToTop 3s linear;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 1px;
  animation-delay: calc(.4s * var(--d));
}

.home .home-content .text-3 span {
  font-weight: 600;
  color: #ff0000;
  font-family: 'Times New Roman', Times, serif;
}
@keyframes bottomToTop {
  from{transform: translateY(150px);}
  to{ transform: translateY(0);}
}
.home .home-content a.hire-btn {
  background: var(--crimson);
  font-size: 25px;
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  padding: 9px;
  border-radius: 8px 2px;
  border: 2px solid transparent;
  box-shadow: 2px 3px 2px 2px #222;
  transition: all 0.3s ease;
}

.home .home-content a.hire-btn:hover {
  color: var(--cryspy);
  background: transparent;
  box-shadow: 0 2px 1px 0 var(--white);
}

.about,
.service,
.skills,
.projects,
.contact {
  font-family: 'Poppins', sans-serif;
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 9px;
  box-shadow: 0px 2px 32px 1px rgba(78,75,75,.8);
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  font-weight: 600;
  color: var(--danger);
  font-family: 'Times New Roman', Times, serif;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background-color: var(--crimson);
  color: var(--white);
  font-size: 20px;
  text-decoration: none;
  padding: 1px 20px;
  margin-top: 20px;
  border-radius: 7px 3px;
  border: 2px solid transparent;
  box-shadow: 2px 3px 2px 2px #222;
  transform: all 0.3s ease;
}

.about .about-content .right a:hover {
  background: transparent;
  color: var(--crimson);
  border-color: var(--crimson);
  box-shadow: 0 2px 1px 0 #222;
}

.service .title::after {
  content: "What i provide";
}

.service .service-content,
.skills .skill-content,
.contact .contact-content {
  display: flex;
  gap: 10px;
}

.service .service-content .card {
  width: calc(33% -20px);
  background: var(--dark);
  text-align: center;
  border-radius: 9px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.5s ease;
  color: var(--light);
}
/* next change */
.service .service-content .card .box {
  transition: all 0.5s ease;
  color: var(--grey);
}

.service .service-content .card .box p,
.projects .card .box p {
  text-align: justify;
  line-height: 1.5;
}

.service .service-content .card:hover .box {
  transform: scale(1.07);
}

.service .service-content .card:hover {
  background: rgba(218, 165, 32, 0.4);
}

.service .service-content .card:hover .text {
  text-decoration: underline;
}

.service .service-content .card i {
  font-size: 50px;
  background: var(--warning);
  padding: 5px 7px;
  border: 2px solid var(--warning);
  border-radius: 5px;
}

div .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .title::after {
  content: "What i know";
}

.skills .skill-content .column {
  width: calc(50% - 30px);
}

.skills .skill-content .column.right .bars {
  margin: 20px 0;
}

.skill-content .column.right .bars .info {
  margin: 0 0 10px;
}

.skill-content .column.right .bars .info span {
  font-size: 17px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 1px;
  padding: 0 12px;
  opacity: 0;
  animation: infoAnimate 0.5s 1s linear forwards;
}

@keyframes infoAnimate {
  100% {
    opacity: 1;
  }
}

.skill-content .column.right.active .bars .progress-bar {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 8px;
  transform: scaleX(0);
  transform-origin: left;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 1px rgba(0, 0, 0, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.skill-content .column.right.active .progress-bar span {
  height: 100%;
  width: 80%;
  background: var(--warning);
  position: absolute;
  border-radius: 8px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.skill-content .column.right.active .progress-bar span::before {
  position: absolute;
  content: "";
  right: 0;
  top: -3px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-color: #2906f0;
  opacity: 0;
  animation: textAnimate 0.5s 1.5s linear forwards;
}

.skill-content .column.right.active .progress-bar span::after {
  position: absolute;
  right: 0;
  top: -30px;
  color: #fff;
  padding: 3px;
  font-size: 15px;
  font-weight: 500;
  background: var(--primary);
  border-radius: 5px;
  opacity: 0;
  animation: textAnimate 0.5s 1.5s linear forwards;
}

@keyframes textAnimate {
  100% {
    opacity: 1;
  }
}

.skill-content .column.right .bars:nth-child(1) .progress-bar span {
  width: 95%;
}

.skill-content .column.right .bars:nth-child(2) .progress-bar span {
  width: 88%;
}

.skill-content .column.right .bars:nth-child(3) .progress-bar span {
  width: 92%;
}

.skill-content .column.right .bars:nth-child(4) .progress-bar span {
  width: 90%;
}

.skill-content .column.right .bars:nth-child(5) .progress-bar span {
  width: 75%;
}

.skill-content .column.right .bars:nth-child(6) .progress-bar span {
  width: 87%;
}

.skill-content .column.right .bars:nth-child(7) .progress-bar span {
  width: 80%;
}


.skill-content .column.right .bars:nth-child(1) .progress-bar span::after {
  content: "95%";
}

.skill-content .column.right .bars:nth-child(2) .progress-bar span::after {
  content: "88%";
}

.skill-content .column.right .bars:nth-child(3) .progress-bar span::after {
  content: "92%";
}
.skill-content .column.right .bars:nth-child(4) .progress-bar span::after {
  content: "90%";
}
.skill-content .column.right .bars:nth-child(5) .progress-bar span::after {
  content: "75%";
}

.skill-content .column.right .bars:nth-child(6) .progress-bar span::after {
  content: "87%";
}

.skill-content .column.right .bars:nth-child(7) .progress-bar span::after {
  content: "80%";
}
.projects .postVisitSgt{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
  background: #333333a5;
}
.projects .postVisitSgt.active{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.projects .postVisitSgt .dialogue{
  max-width: 350px;
  height: 250px;
  background: var(--dimlight);
  border-radius: 11px;
  border: 3px solid var(--primary);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: fromUp 1s linear;
  position: relative;
  color: var(--dark);
  padding: 10px;
}
@keyframes fromUp {
  from{
    transform: translateY(-250%);
  }
  to{
    transform: translateY(0);
  }
}
.projects .postVisitSgt .dialogue .drp.close{
  font-size: 25px;
  font-weight: 900;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  cursor: pointer;
  color: var(--danger);
  transition: .5s ease-in-out;
}
.projects .postVisitSgt .dialogue .drp.close:hover{
  background: var(--danger);
  color: var(--white);
}
.postVisitSgt .dialogue .btn{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 30px;
}
.postVisitSgt .dialogue .btn button{
  font-size: 18px;
  font-weight: 700;
  font-family: cursive;
  outline: none;
  border: none;
  padding: 7px;
  cursor: pointer;
  min-width: 70px;
  border-radius: 7px;
  color: #f4f4f4;
}
.postVisitSgt .dialogue button:first-child{
  background: var(--crimson);
}
.postVisitSgt .dialogue button:last-child{
  background: var(--success);
}

.projects .carousel {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 20px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  scroll-behavior: smooth;
  transition: all 0.4s linear;
  overflow-y: auto;
}
@media (min-width: 800px) {
  .projects .carousel{
    max-height: 460px;
  }
}
.projects .carousel::-webkit-scrollbar{
  display: none;
}
.projects .carousel .card {
  background: transparent;
  text-align: justify;
  border-radius: 4.75px;
  color: #fff;
  transition: all 0.5s ease;
}

.projects .carousel .card .box {
  transition: all 0.5s ease;
}

.projects .carousel .card .box .text {
   display: none;
}
.projects .carousel .card .box p{
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 10px;
  right: 10px;
  visibility: hidden;
  color: var(--warning);
  opacity: 0;
  font-size: 12px;
  transition: all 0.8s ease;
  font-weight: 600;
  transform: translate(-50px,-50px);
  overflow: hidden;
  cursor: pointer;
}
.projects .carousel .card:hover .box p{
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}
.projects .carousel .card img,
.projects .carousel .card .imageHover {
  height: 250px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
.projects .carousel .card .imageHover{
  position: absolute;
  top: 0;
  visibility: hidden;
  background: #000;
  opacity: 0;
  transition: all .5s ease;
  transform: translateY(-50px);
}
.projects .carousel .card:hover .imageHover{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.projects .carousel .card .imageHover .drp{
  position: absolute;
  top: 38%;
  left: 43%;
  font-size: 40px;
  font-weight: 600;
  color: var(--light);
  opacity: 0.5;
  width: fit-content;
  height: fit-content;
  text-shadow: 2px 2px 4px var(--grey);
}

.projects .projectFilter{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
  gap: 15px;
  user-select: none;
  width: 100%;
  position: relative;
}
.projectFilter li{
  min-width: 100px;
  text-align: center;
  list-style: none;
  border: 2px solid var(--light);
  padding: 5px;
  margin-bottom: 13px;
  border-radius: 9px;
  background: var(--black);
  cursor: pointer;
  transition: .4s ease;
}
.projectFilter li:hover{
  transform: scale(1.02);
  background: var(--success);
}
.projectFilter li a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight:  600;
  letter-spacing: 1px;
}
/* ----------------contact css------------- */
.contact .title::after {
  content: "get in touch";
}

.contact .contact-content .column {
  width: calc(50% - 30px);
  margin: 15px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .social-icons a {
  background: #f2f2f2;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 50%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 3px 4px 0px;
  margin-left: 20px;
  cursor: pointer;
  transition: .3s ease;
}

.contact .contact-content .social-icons a i {
  font-size: 40px;
}

.contact .contact-content .social-icons a:nth-child(1) {
  color: var(--primary);
  border-color: #b7d4fb;
}

.contact .contact-content .social-icons a:nth-child(1):hover {
  color: var(--white);
  background: var(--primary);
}

.contact .contact-content .social-icons a:nth-child(2) {
  color: var(--primary);
  border-color: #b7d4fb;
}

.contact .contact-content .social-icons a:nth-child(2):hover {
  color: var(--white);
  background: var(--primary);
}
.contact .contact-content .social-icons a:nth-child(3) {
  color: var(--crimson);
  border-color: var(--crimson);
}

.contact .contact-content .social-icons a:nth-child(3):hover {
  color: var(--white);
  background: var(--crimson);
}
.contact .contact-content .social-icons a:nth-child(4) {
  color: var(--success);
  border-color: var(--light-success);
}

.contact .contact-content .social-icons a:nth-child(4):hover {
  color: var(--white);
  background: var(--success);
}

.contact .contact-content .social-icons a:nth-child(5) {
  color: var(--cyan);
  border-color: var(--light-success);
}

.contact .contact-content .social-icons a:nth-child(5):hover {
  color: var(--white);
  background: var(--cyan);
}

.contact .contact-content .social-icons a:nth-child(6) {
  color: var(--danger);
}

.contact .contact-content .social-icons a:nth-child(6):hover {
  color: var(--white);
  background: var(--danger);
}

.contact .contact-content .social-icons a:nth-child(7) {
  color: var(--black);
}

.contact .contact-content .social-icons a:nth-child(7):hover {
  color: var(--white);
  background: var(--black);
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .information {
  margin-left: 25px;
}

.contact .contact-content .information .sub-title {
  color: var(--light-primary);
}

.contact .contact-content .row i {
  font-size: 25px;
  color: var(--crimson);
  width: 35px;
  height: 35px;
  text-align: center;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.contact .contact-content .row i:hover {
  background: var(--crimson);
  color: var(--white);
}

.contact .contact-content .row .head {
  font-weight: 600;
}

.contact .contact-content .fields .field:not(.message) {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right .message {
  margin-bottom: 5px;
  width: 100%;
}
.fields .field {
  position: relative;
  margin-bottom: 20px;
}

.fields .field input,
.fields .field textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 2px 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
  background: transparent;
  border-radius: 7px;
}

.fields .field label {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 20px;
  height: 0;
  color: var(--black);
  font-weight: bold;
  width: max-content;
  height: max-content;
  padding: 3px;
  border-radius: 7px;
  transition: .4s ease;
  color: red;
}

.fields .field input:focus~label,
.fields .field input:valid~label,
.fields .field textarea:focus~label,
.fields .field textarea:valid~label {
  top: -13px;
  background: #fff;
  color: rgba(0, 128, 0, 0.6);
}

.contact .right .name,
.contact .right .subject,
.contact .right .message{
 background: #fff;
 border-radius: 7px;
}

.contact .right .name input.invalid::placeholder,
.contact .right .subject input.invalid::placeholder,
.contact .right .message textarea.invalid::placeholder{
 color: var(--danger);
}
.contact .right .name input.invalid,
.contact .right .subject input.invalid,
.contact .right .message textarea.invalid {
  border-color: var(--danger);
}

.contact .right .field.message textarea {
  margin-top: 10px;
  resize: none;
}

.contact .right .submit-btn {
  outline: none;
  height: 45px;
  width: 170px;
}

.contact .right .submit-btn button {
  width: 100%;
  height: 100%;
  border: 2px solid var(--warning);
  background: var(--warning);
  border-end-start-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 2px 3px 2px 2px #37373a;
  cursor: pointer;
}

.contact .right .submit-btn button:hover {
  background: var(--dimlight);
  color: var(--dark);
  box-shadow: 0 2px 1px 0 var(--grey);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  user-select: none;
}

footer span {
  font-style: italic;
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

footer span a {
  color: var(--crimson);
}

footer span a:hover {
  text-decoration: underline;
}

.column,
.card {
  opacity: 0;
}
.column.active,
.card.active{
  position: relative;
  animation: popCardUp 2s ease-in-out;
  opacity: 1;
  animation-delay: calc(.2s * var(--i));
}
@keyframes popCardUp{
  0%,50%,100%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(90px);
  }
  75%{
    transform: translateY(30px);
  }
}

.popup-carousel {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 120;
  background: rgba(0, 0, 0, 0.702);
  user-select: none;
  transform: scale(.5);
  transition: .5s linear;
}

.popup-carousel.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.popup-carousel-close {
  position: absolute;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
}

.popup-carousel-close .drp {
  font-size: 50px;
  font-weight: 900;
  width: max-content;
  background: var(--crimson);
  padding: 0 20px 0 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  color: var(--white);
}

.popup-carousel-close .drp:hover {
  background: var(--light-grey);
  color: var(--black);
  border-color: var(--crimson);
}

.popup-carousel .carousel-navbar {
  position: absolute;
  top: 0;
  left: 0px;
  right: 20px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
  background: transparent;
  box-shadow: 2px 3px 2px 2px #99707080;
  transition: all 0.3s ease;
}

.popup-carousel .navbar-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.popup-carousel .nav-item .drp {
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  background: #fd8003;
  border-radius: 10px;
  padding: 0 20px 0 20px;
  transition: all 0.3s ease;
  user-select: none;
  transition: .3s linear;
}

.popup-carousel .nav-item .drp:hover {
  background: #f0cece;
  color: #fd8003;
}

.popup-carousel .image-container {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-carousel .image-container .main-img {
  margin-top: 20px;
}
.popup-carousel .image-container .main-img img {
  width: 100%;
  height: 80vh;
}
.popup-carousel .image-container .main-img img.animate{
  animation: slideImage 2s ease forwards;
}
@keyframes slideImage {
  from{ transform: translate(100%,0); opacity: 0;}
  to{ transform: translate(0,0); opacity: 1;}
}
.popup-carousel .image-container .sub-img {
  display: none;
  opacity: 0;
  transition: 0.5s ease;
  overflow: auto;
}
.popup-carousel .image-container .sub-img::-webkit-scrollbar{
  display: none;
}

.popup-carousel .image-container .sub-img.active {
  display: block;
  opacity: 1;
}

.popup-carousel .image-container .sub-img {
  position: fixed;
  right: 0;
  top: 0;
  padding: 70px 15px;
  width: 290px;
  height: 100%;
  gap: 20px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 121;
}

.popup-carousel .image-container .sub-img .drp.close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  width: max-content;
  padding: 0 12px 0 12px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.popup-carousel .image-container .sub-img .drp.close:hover {
  background: var(--dark);
}

.popup-carousel .image-container .sub-img img {
  margin-left: 10px;
  margin-top: 7px;
  width: 110px;
  height: 95px;
  border: 3px solid #ff0000;
  border-radius: 3px;
  cursor: pointer;
}

.popup-carousel .image-container .sub-img img.active {
  border-color: #0505cf;
}

.popup-carousel .image-container .sub-img img:hover {
  transform: scale(1.1);
  border-color: #0505cf;
}

.bottom-network-check {
  display: none;
  opacity: 0;
  transition: all 0.5s ease;
}

.bottom-network-check.active {
  display: block;
  opacity: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 1px 0 1px 0;
  border-radius: 10px;
}
@media (max-width:905px) {
  .fnav {
    padding: 0 50px;
  }

  .navbar .bar-icon {
    display: block;
    color: #fff;
    width: max-content;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .navbar .bar-icon:hover {
    box-shadow: 1px 2px 5px 5px #00000033;
  }

  .navbar .bar-icon.deactive {
    display: none;
  }
  .navbar .navbar-nav {
    display: none;
  }

  .navbar .navbar-nav.active {
    position: fixed;
    height: 100%;
    width: 180px;
    top: 0;
    display: block;
    right: 0;
    background: rgba(111, 111, 111, 0.8);
    z-index: 100;
    animation: slideFromRight .5s ease;
  }
@keyframes slideFromRight {
  from{
    width: 0;
  }
  to{
    width: 180px;
  }
}


  .scroll-top {
    right: 0;
    bottom: 0;
  }

 .navbar .navbar-nav li {
    margin-top: 60px;
    width: 100%;
    text-align: center;
  }

  .navbar .navbar-nav li a {
    width: 100%;
    font-size: 25px;
    text-align: center;
    filter: grayscale(0);
  }

  .navbar-nav a {
    padding: 10px 5px 9px 5px;
  }
  .home .home-content .text-2 {
    font-size: 40px;
  }

  .home .home-content .text-3 {
    font-size: 30px;
  }

  .home .home-content a {
    font-size: 15px;
    padding: 7px;
  }

  .content {
    max-width: 800px;
  }

  .about .about-content .column {
    width: 50%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }

  .about .about-content .right {
    flex: 100%;
  }

  section .title {
    font-size: 30px;
  }

  section .title::after {
    font-size: 15px;
  }

  .skills .skill-content .left {
    width: 100%;
  }

  .skills .skill-content .right {
    width: 100%;
  }

  .service .service-content,
  .skills .skill-content,
  .contact .contact-content {
    flex-wrap: wrap;
  }

  .contact .contact-content .left,
  .contact .contact-content .right {
    width: 100%;
  }

  .projects .carousel .card img,
  .projects .carousel .card .imageHover {
    height: 150px;
    width: 220px;
  }
  .projects .projectFilter li a{
    font-size: 10px;
  }
  .popup-carousel .nav-item .drp {
    font-size: 25px;
  }
  .projects .carousel .card .imageHover .drp{
    left: 40%;
    top: 27%;
  }
  .projects .carousel .card .box p{
    font-size: 10px;
  }
.column.active:nth-child(odd),
.card.active:nth-child(odd) {
  animation: leftRight 1.5s linear, popCardUp 1.5s ease-in-out;
  animation-delay: 0s,calc(.2s * var(--i));
}
.column.active:nth-child(even),
.card.active:nth-child(even) {
  animation: rightLeft 1.5s linear, popCardUp 1.5s ease-in-out;
  animation-delay: 0s, calc(.2s * var(--i));
}
@keyframes leftRight {
  from{ transform: translate(-50%,30%) scale(.3); opacity: 0;}
  to{ transform: translate(0) scale(1); opacity: 1;}
}
@keyframes rightLeft {
  from{ transform:translate(50%,30%) scale(.3); opacity: 0;}
  to{ transform: translateX(0) scale(1); opacity: 1;}
}
@keyframes popCardUp{
  0%,50%,100%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(120px);
  }
  75%{
    transform: translateY(30px);
  }
}
}

@media (max-width:900px) and (orientation:portrait) {
  .popup-carousel .image-container .main-img img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
  }
}

@media print{
  nav{
    display: none;
  }
  footer{
    display: none;
  }
}